# dependencies
node_modules/

# build output
build/
dist/

# environment variables
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# database artifacts (if any local files get generated)
*.sqlite
*.log

# IDE settings
.vscode/
.DS_Store
